body {
  margin: 0;
  font-family: Muli, sans-serif;
}

.bubble-font {
  font-family: 'Bubblegum Sans', cursive;
  font-size: x-large;
}

.main-text {
  color: rgb(110, 110, 110);
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0.03em;
}

.header-text {
  width: 100%;
  font-size: 270%;
  color: rgb(0, 0, 0);
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.03em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}